<div class="card">
    <div class="img-conteiner">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="card-img" /> 
        <button
        (click)="addFavoritesRecipe(recipe)" 
        [ngClass]="isFavorite ? 'uit uit-heart' : 'uil uil-heart'"></button>
    </div>
    <h3>{{recipe.name}}</h3>
    <div class="actions">
        <li [routerLink]="item.router" *ngFor="let item of mainMenu.options">
            <div class="list-wrapper-item">
                <i [ngClass]="['uil',item.icon]"></i>
            </div>
        </li>
    </div>
</div>