<div class="recipe-card">
    <div class="" >
        <a href="javascript:void(0)" class="icon-overlay">
            <i class="uil uil-heart"></i>
        </a>
        <a href="/recipes/edit/68181dd1170c8983f665359f">
            <img [src]="recipe.imagePath" [alt]="recipe.name" class="" > 
        </a>
    </div>
    <div class="card-body pb-0">
        <h3>{{recipe.name}}</h3>
    </div>
    <div class="actions" style="width: 16rem; height: 4rem;">
        <a class="btn button mx-1" href="/recipes/edit/68181dd1170c8983f665359f">
            <i class="uil uil-eye"></i>
        </a>
        <a class="btn button mx-1" href="/recipes/edit/68181dd1170c8983f665359f?isEdit=true">
            <i class="uil uil-pen"></i>
        </a>
        <a class="btn button mx-1" href="">
            <i class="uil uil-trash-alt"></i>
        </a>
    </div>
</div>