<div class="new-recipe-page">
    <div class="recipe-wrapper">
        <h1>Nueva Receta</h1>
        <form class="new-recipe-form">
            <div class="form-group">
                <label for="nombre">(*) Nombre: </label>
                <input type="text" name="nombre" required />
            </div>
            <div class="form-group">
                <label for="descripcion">(*) Descripción: </label>
                <input type="text" name="descripcion" required />
            </div>
            <div class="form-group">
                <label for="imagen">(*) Imagen: </label>
                <input type="text" name="imagen" required />
            </div>
            <div class="form-group">
                <label>(*) Ingredientes: </label>
                <table>
                    <thead>
                        <tr>
                            <th>*</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th><button type="button">+</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><input type="text" required /></td>
                            <td><input type="number" value="1" min="1" required /></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div>
                <p class="alerta">(*) Todos los campos son obligatorios</p>
            </div>
            <div class="botones">
                <button type="submit" class="login social-btn">Guardar</button>
                <button type="button" class="cancelar">Cancelar</button>
            </div>
        </form>
    </div>
</div>