<div class="new-recipe-page">
    <div class="recipe-wrapper">
        <h1>Nueva Receta</h1>
        <form (ngSubmit)="sendNewRecipe()"  [formGroup]="formAddRecipe" class="new-recipe-form">
            <div class="form-group">
                <label for="name">(*) Nombre: </label>
                <input formControlName="name" type="text" name="name" required />
            </div>
            <div class="form-group">
                <label for="description">(*) Descripción: </label>
                <input formControlName="description" type="text" name="description" required />
            </div>
            <div class="form-group">
                <label for="img">(*) Imagen: </label>
                <input formControlName="img" type="text" name="img" required />
            </div>
            <div class="form-group">
                <label>(*) Ingredientes: </label>
                <table>
                    <thead>
                        <tr>
                            <th>*</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th><button type="button">+</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><input formControlName="nameIngredient" type="text" required /></td>
                            <td><input formControlName="number" type="number" value="1" min="1" required /></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div>
                <p class="alerta">(*) Todos los campos son obligatorios</p>
            </div>
            <div class="botones">
                <button [disabled]="formAddRecipe.invalid"  type="submit" class="login social-btn">Guardar</button>
                <button [routerLink]="router"type="button" class="cancelar">Cancelar</button>
            </div>
        </form>
    </div>
</div>