
<div class="recipe-page">
    <h1>LISTA DE RECETAS</h1>
    <div class="m-3">
        <input type="text" placeholder="Buscar receta por nombre" style="width: 16rem;">
        <br><br>
    </div>
    <div class="m-3 card-grid">
        <div class="m-3">
            <ul class="card-list">
                <li [routerLink]="item.router" *ngFor="let item of mainMenu.defaultOptions" class="card add-card">
                    <div class="list-wrapper-item">
                        <i [ngClass]="['uil',item.icon]"></i>
                        <p>{{item.name}}</p>
                    </div>
                </li>
                <li *ngFor="let recipe of recipeList">
                    <app-recipe-card [recipe]="recipe"></app-recipe-card>
                    <br>
                </li>
            </ul>
        </div>
    </div>
</div>




