<div class="edit-recipe-page">
    <div class="recipe-wrapper">
        <h1>Editar Receta</h1>
        <form (ngSubmit)="editRecipe()"  class="edit-recipe-form">
            <div>
                <a>Imagen</a>
            </div>
            <!--<div formArrayName="ingredients">
                <div *ngFor="let ingredient of Ingredients.controls; let i = index" [formGroupName]="i">
                    <input formControlName="name" />
                    <input formControlName="amount" type="number"/>
                </div>
            </div>
            <div>
                <p class="alerta">(*) Todos los campos son obligatorios</p>
            </div>-->
            <div class="form-group">
                <label for="name">(*) Nombre: </label>
                <input formControlName="name" type="text" name="name" required />
            </div>
            <div class="form-group">
                <label for="description">(*) Descripción: </label>
                <input formControlName="description" type="text" name="description" required />
            </div>
            <div class="form-group">
                <label for="img">(*) Imagen: </label>
                <input formControlName="img" type="text" name="img" required />
            </div>
            
            <div class="botones">
                <button  type="submit">Guardar</button>
                <button [routerLink]="router" type="button" class="cancelar">Cancelar</button>
            </div>
        </form>
    </div>
</div>