.edit-recipe-page{
    max-width: 700px;
    margin: 30px auto;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
}

*{
    box-sizing: border-box;
}

h1{
    text-align: center;
    color:darkolivegreen;
    margin-bottom: 20px;
    font-size: 1.8em;
}

label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 0.95em;
}

input[type="text"], input[type="number"] {
    width: 100%;;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}



button{
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

button[type="submit"]{
    background-color: #4caf50;
    color: #fff;
}

button.cancelar{
    background-color: #ccc;
    color: #000;
}

.alerta{
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

button:disabled{
    opacity: .5;
}

@media (max-width: 600px){
    button{
        width: 100%;
        margin-top: 10px;
    }

    .botones{
        flex-direction: column;
        align-items: stretch;
    }
}